In [1]:
def divide_name(name, second = False):
    halfname = list(name)[:int(len(name)/2)]
    halfname = ''.join(halfname)
    if second == True:
        halfname = list(name)[int(len(name)/2):]
        halfname = ''.join(halfname)
    return halfname

In [2]:
def merge_names(name1,name2):
    name1 = divide_name(name1)
    name2 = divide_name(name2, second = True)
    newname = name1 + name2
    return newname

In [3]:
def sum_digits(n,lastTwoDigits = False):
    s = 0
    if lastTwoDigits == False:
        while n:
            s += n % 10
            n //= 10
    if lastTwoDigits == True:
        for x in range(2):
            s += n % 10
            n //= 10
    return s

In [4]:
first_name_1 = 'Joe'
first_name_2 = 'Gavin'
merge_names(first_name_1,first_name_2)

'Jvin'

In [5]:
second_name_1 = 'Dude'
second_name_2 = 'Kroeger'
merge_names(second_name_1,second_name_2)

'Dueger'

In [6]:

passport = 18
for i in range(8):
    sum_ = sum_digits(passport, lastTwoDigits = True)
    sum_ = sum_ % 10
    passport = passport*10 +sum_
print passport

1897639213

In [7]:
import time
age_1 = 17
age_2 = 21
new_age = sum_digits(age_1)+sum_digits(age_2)

t = time.strftime('%d/%m/%Y')
list_t = list(t)
new_year = str(int(t[-4:])-new_age)
list_t[-4:] = new_year
birthday = ''.join(list_t)
print birthday

02/08/2006